body {
  background: #00b7c2;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.container {
  color: white;
  margin-top: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
