body {
  background: #f9f7d9;
  font-family: "Indie Flower", cursive;
}

.header {
  color: white;
  background-color: #ed6663;
  line-height: 3rem;
  padding: 10px;
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.footer p {
  color: #59405c;
}

.flex-container {
  display: flex;
}

.note {
  background: white;
  border-radius: 5px;
  width: 200px;
  height: 75px;
  padding: 5px 10px;
  margin: 10px;
  text-align: center;
}

.note p {
  top: 45px;
  padding: 0 4px;
}
